﻿@model TicTacToe.Models.AccountModel
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        <strong>@Model.DisplayName</strong>
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" id="connected-dp">
        <li>
            <div class="navbar-login">
                <div class="row">
                    <div class="col-lg-4">
                        <p class="text-center">
                            <Gravatar email="@Model.Email"></Gravatar>
                        </p>
                    </div>
                    <div class="col-lg-8">
                        <p class="text-left"><strong>@Model.DisplayName</strong></p>
                        <p class="text-left small">
                            <a asp-action="Index"
                               asp-controller="Account">@Model.Email</a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li class="divider"></li>
        <li>
            <div class="navbar-login navbar-login-session">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            <a href="#" class="btn btn-danger btn-block">Log off</a>
                            <a class="btn btn-default btn-block" asp-action="Index" asp-controller="Account">View Details</a>
                            <!--<a class="btn btn-default btn-block" asp-area="Account" asp-controller="Home" asp-action="Index">Altro Details</a>-->
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>