﻿@using Microsoft.AspNetCore.Http;
@{
    var email = Context.Session.GetString("email");
    var displayName = Context.Session.GetString("displayName");
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index"
               class="navbar-brand">Tic-Tac-Toe</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a asp-area="" asp-controller="Home"
                       asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Leaderboard"
                       asp-action="Index">Leaderboard</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home"
                       asp-action="About">About</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home"
                       asp-action="Contact">Contact</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       href="#">Settings<span class="caret"></span></a>
                    <ul class="dropdown-menu multi-level">
                        <li class="dropdown-submenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Select your language (@ViewBag.Language)
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li @(ViewBag.Language == "EN" ? "active" : "")>
                                    <a asp-controller="Home" asp-action="SetCulture"
                                       asp-route-culture="EN">English</a>
                                </li>
                                <li @(ViewBag.Language == "FR" ? "active" : "")>
                                    <a asp-controller="Home" asp-action="SetCulture"
                                       asp-route-culture="FR">French</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    @if (!string.IsNullOrEmpty(email)) {
                        Html.RenderPartial("_Account", new TicTacToe.Models.AccountModel { Email = email, DisplayName = displayName });
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>
